<head>
    <title>Hotel Reservation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--Angular-->
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/node_modules/angular-material/angular-material.min.js"></script>
    <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>

    <!-- Lodash -->
    <script src="/node_modules/lodash/lodash.min.js"></script>

    <script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

    <script src="/javascripts/app.js"></script>

    <!--Classes-->
    <script src="/javascripts/classes/user.js"></script>
    <script src="/javascripts/classes/room.js"></script>
    <script src="/javascripts/classes/review.js"></script>
    <script src="/javascripts/classes/reservation.js"></script>
    <script src="/javascripts/classes/hotel.js"></script>
    <script src="/javascripts/classes/roomType.js"></script>

    <!-- Services -->
    <script src="/javascripts/service/session.js"></script>
    <script src="/javascripts/service/stateHandler.js"></script>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="/features/registration/userRegistration.js"></script>
    <script src="/features/login/userLogin.js"></script>
    <script src="/features/hotelAdministration/hotelAdmin.js"></script>
    <script src="/features/hotelAdministration/hotelCreate.js"></script>
    <script src="/features/hotelImageViewer/hotelImageViewer.js"></script>
    <script src="/features/hotelAdministration/hotelDetails.js"></script>
    <script src="/features/browse/browse.js"></script>
    <script src="/features/myReservations/myReservations.js"></script>

</head>