<!DOCTYPE html>
<html>
  <% include header.html %>
  <body ng-app="HotelReservation" ng-controller="BootCtrl">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout-xs="column" layout="row" layout-align="space-between center">
      <md-content class="md-padding" layout-xs="column" layout="row">
        <md-nav-bar md-selected-nav-item="currentNavItem" layout-xs="column" layout="row" nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-href="#hello" name="hello">Hello One</md-nav-item>
          <md-nav-item md-nav-href="#hello" name="hello">Hello Two</md-nav-item>
          <md-nav-item md-nav-href="#hello" name="hello">Hello Three</md-nav-item>
        </md-nav-bar>
      </md-content>
      <md-menu md-position-mode="target-right target" >
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon class="material-icons">face</md-icon>
        </md-button>
        <md-menu-content width="4" >
          <md-menu-item ng-repeat="item in [1, 2, 3]">
            <md-button ng-disabled="$first" ng-click="ctrl.announceClick($index)">
              <div layout="row" flex>
                <p flex>Option {{item}}</p>
                <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
              </div>
              <md-divider ng-if="$first"></md-divider>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

    <ui-view></ui-view>

  </body>
</html>
