<md-content class="md-padding">
    <!--hotelDetailsCtrl-->
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{hotelDetailsCtrl.hotel.name}}</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <div>
                <hotel-image-viewer hotel=hotelDetailsCtrl.hotel></hotel-image-viewer>
            </div>

        </md-card-content>

        <div ng-cloak>
            <md-content >
                <md-tabs md-dynamic-height md-border-bottom >
                    <md-tab label="Description">
                        <md-content class="md-padding">
                            <h2>Stars</h2>
                            <span class="material-icons" ng-repeat="star in hotelDetailsCtrl.getStarsRange(hotelDetailsCtrl.hotel.luxuryLevel)">star</span>
                            <p></p>
                            <md-divider></md-divider>
                            <h2>Description</h2>
                            <p>{{hotelDetailsCtrl.hotel.description}}</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="Reviews">
                        <md-content class="md-padding">
                            <h2>Average review rating</h2>
                            <h3>{{hotelDetailsCtrl.revievRating}}</h3>
                            <p></p>
                            <md-divider></md-divider>
                            <h2>Reviews</h2>
                            <!--List review start-->
                            <div ng-if="hotelDetailsCtrl.reviews.length == 0">
                                There's no reviews yet.
                            </div>
                            <div ng-repeat="revItem in hotelDetailsCtrl.reviews">
                                <div>
                                    <md-input-container>
                                        {{revItem.description}}
                                        <md-button class="material-icons md-primary" ng-if="SessionService.getSignedInUser().role == 'host'" ng-click="hotelDetailsCtrl.deleteReview(revItem)">delete</md-button>
                                    </md-input-container>
                                </div>
                            </div>
                            <!--List review end-->

                            <!--Addreview start-->
                            <md-card-actions layout="row" layout-align="start center" ng-if="SessionService.getSignedInUser() != undefined">
                                <md-button class="md-raised md-primary" ng-if="!hotelDetailsCtrl.canAddReview" ng-click="hotelDetailsCtrl.addReview()">Add review</md-button>
                            </md-card-actions>
                            <div ng-if="hotelDetailsCtrl.canAddReview" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Stars</label>
                                    <md-select id="rating" ng-model="hotelDetailsCtrl.reviewToSend.rating">
                                        <md-option ng-repeat="item in [1,2,3,4,5]" ng-value="item">
                                            {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container style="width: 100%;">
                                    <label>Review: </label>
                                    <textarea type="text" rows="2" name="description" ng-model="hotelDetailsCtrl.reviewToSend.description" ></textarea>
                                </md-input-container>
                                <md-input-container>
                                    <md-button class="material-icons md-primary" ng-click="hotelDetailsCtrl.saveReview()">save</md-button>
                                </md-input-container>
                                <md-input-container>
                                    <md-button class="material-icons md-warn" ng-click="hotelDetailsCtrl.addReview()">cancel</md-button>
                                </md-input-container>
                            </div>
                            <!--Addreview end-->
                        </md-content>
                    </md-tab>
                    <md-tab label="reservation" ng-disabled="SessionService.getSignedInUser().role != 'guest'">
                        <md-content class="md-padding">
                            <md-card-footer>
                                <md-input-container>
                                    <label>Start date</label>
                                    <md-datepicker ng-model="hotelDetailsCtrl.datePicker.startDate"></md-datepicker>
                                </md-input-container>
                                <md-input-container>
                                    <label>End date</label>
                                    <md-datepicker ng-model="hotelDetailsCtrl.datePicker.endDate"></md-datepicker>
                                </md-input-container>
                                <div ng-repeat="roomItem in hotelDetailsCtrl.hotel.rooms" layout-gt-sm="row" layout-align="start center">
                                    <md-input-container style="width: 100%;">
                                        {{roomItem.type[0]}}
                                    </md-input-container>
                                    <md-input-container style="width: 100%;">
                                        {{roomItem.description}}
                                    </md-input-container>
                                    <md-input-container style="width: 100%;">
                                        {{roomItem.capacity}} beds
                                    </md-input-container>
                                    <md-input-container style="width: 100%;">
                                        {{roomItem.price}} $
                                    </md-input-container>
                                    <md-input-container >
                                        <md-button class="material-icons md-primary" ng-click="hotelDetailsCtrl.addReservation(roomItem)">add</md-button>
                                    </md-input-container>
                                </div>
                            </md-card-footer>
                        </md-content>
                    </md-tab>

                    <!--Room administration start-->
                    <md-tab label="room admin" ng-if="SessionService.getSignedInUser().role == 'host'">
                        <md-content class="md-padding">
                            <div ng-repeat="roomItem in hotelDetailsCtrl.hotel.rooms" layout-gt-sm="row" layout-align="start center">
                                <md-input-container style="width: 100%;">
                                    {{roomItem.type[0]}}
                                </md-input-container>
                                <md-input-container style="width: 100%;">
                                    {{roomItem.description}}
                                </md-input-container>
                                <md-input-container style="width: 100%;">
                                    {{roomItem.capacity}} beds
                                </md-input-container>
                                <md-input-container style="width: 100%;">
                                    {{roomItem.price}} $
                                </md-input-container>
                                <md-input-container>
                                    <md-button class="material-icons md-primary" ng-click="hotelDetailsCtrl.deleteRoom(roomItem)">delete</md-button>
                                </md-input-container>
                                <md-input-container >
                                    <md-button class="material-icons md-warn" ng-click="hotelDetailsCtrl.roomModification(roomItem)">edit</md-button>
                                </md-input-container>
                            </div>

                            <!--Room addition ongoing starts-->
                            <div>
                                <div ng-repeat="room in hotelDetailsCtrl.roomsToAddArray" layout-gt-sm="row" layout-align="start center">
                                    <md-input-container>
                                        <label>Type</label>
                                        <md-select ng-model="room.type" ng-disabled="false">
                                            <md-option ng-repeat="item in hotelCreate.RoomTypeArray" ng-value="item.value">
                                                {{item.text | capitalize}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <input type="text" ng-model="room.description" ng-disabled="false" placeholder="description">
                                    </md-input-container>
                                    <md-input-container>
                                        <input type="number" ng-model="room.quantity" ng-disabled="false" placeholder="quantity">
                                    </md-input-container>
                                    <md-input-container>
                                        <input type="number" ng-model="room.capacity" ng-disabled="false" placeholder="capacity">
                                    </md-input-container>
                                    <md-input-container>
                                        <input type="number" ng-model="room.price" ng-disabled="false" placeholder="price">
                                    </md-input-container>
                                </div>
                                <md-input-container>
                                    <md-button class="md-primary" ng-click="hotelDetailsCtrl.addRoom()">Add room</md-button>
                                </md-input-container>
                                <md-input-container ng-if="hotelDetailsCtrl.roomsToAddArray.length > 0">
                                    <md-button class="material-icons" ng-click="hotelDetailsCtrl.roomAdditionDone()">done</md-button>
                                </md-input-container>
                                <md-input-container ng-if="hotelDetailsCtrl.roomsToAddArray.length > 0">
                                    <md-button class="material-icons md-warn" ng-click="hotelDetailsCtrl.roomAdditionCanceled()">cancel</md-button>
                                </md-input-container>
                            </div>
                            <!--Room addition ended-->
                        </md-content>
                    </md-tab>
                    <!--Room administration end-->
                    <md-tab label="location">
                        <md-content class="md-padding">
                            <h2>{{hotelDetailsCtrl.hotel.location}}</h2>
                            <map center="{{hotelDetailsCtrl.hotel.location}}" zoom="18">
                                <marker position="{{hotelDetailsCtrl.hotel.location}}"
                                        title="{{hotelDetailsCtrl.hotel.name}}"></marker>
                            </map>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </md-card>
</md-content>