<md-content class="md-padding">
    <button ng-click="hotelAdminCtrl.addHotel()">
        Add hotel
    </button>
    <md-button class="md-raised md-primary" ng-click="hotelAdminCtrl.createNewHotel()">
        Create new hotel
    </md-button>
    <md-card ng-repeat="item in hotelAdminCtrl.myHotels">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{item.name}}</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <button ng-click="hotelAdminCtrl.sliders[item._id].prev()">Prev Slide</button>
            <button ng-click="hotelAdminCtrl.sliders[item._id].next()">Next Slide</button>

            <br/>

            <simple-slider slider-instance="hotelAdminCtrl.sliders[item._id]" current-slide="actualslides[item._id]" style="width:400px; height:400px" auto-play="false">
                <img ng-repeat="image in item.images" ng-src="/hotel/{{item._id}}/image/{{image}}"/>
            </simple-slider>
            {{item.desctiption}}
            <div ng-click="hotelAdminCtrl.onHotelClicked(item)">
                katt
            </div>
        </md-card-content>
    </md-card>
</md-content>