<md-content class="md-padding">
    <button ng-click="hotelAdminCtrl.addHotel()">
        Add hotel
    </button>
    <h1 ng-if="!hotelAdminCtrl.myHotels.length" align="center">You don't have any hotels</h1>
    <md-button class="md-raised md-primary" ng-click="hotelAdminCtrl.createNewHotel()">
        Create new hotel
    </md-button>
    <md-card ng-repeat="item in hotelAdminCtrl.myHotels">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{item.name}}</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-raised md-primary" ng-click="hotelAdminCtrl.onHotelClicked(item)">View details</md-button>
            <md-button class="md-raised md-warn" ng-click="hotelAdminCtrl.deleteHotel(item._id)">Delete</md-button>
        </md-card-actions>
    </md-card>
</md-content>