<md-content class="md-padding">
    <!--hotelDetailsCtrl-->
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{hotelDetailsCtrl.hotel.name}}</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <div>
                <hotel-image-viewer hotel=hotelDetailsCtrl.hotel></hotel-image-viewer>
            </div>
            <div>
                {{hotelDetailsCtrl.hotel.description}}
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-if="!hotelDetailsCtrl.canAddReview" ng-click="hotelDetailsCtrl.addReview()">Add review.</md-button>
        </md-card-actions>
        <div ng-if="hotelDetailsCtrl.canAddReview" layout="row" layout-align="center center">
            <md-input-container>
                <label>Stars</label>
                <md-select id="rating" ng-model="hotelDetailsCtrl.reviewToSend.rating">
                    <md-option ng-repeat="item in [1,2,3,4,5]" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container >
                <label>Review: </label>
                <textarea type="text" rows="2" name="description" ng-model="hotelDetailsCtrl.reviewToSend.description" ></textarea>
            </md-input-container>
            <md-input-container>
                <md-button class="material-icons" ng-click="hotelDetailsCtrl.saveReview()">save</md-button>
            </md-input-container>
        </div>
        <md-card-footer>
            <h1>Rooms:</h1>
            <md-input-container>
                <label>Start date</label>
                <md-datepicker ng-model="hotelDetailsCtrl.datePicker.startDate"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>End date</label>
                <md-datepicker ng-model="hotelDetailsCtrl.datePicker.endDate"></md-datepicker>
            </md-input-container>
            <div ng-repeat="roomItem in hotelDetailsCtrl.hotel.rooms" layout-gt-sm="row" layout-align="start center">
                <md-input-container>
                    {{roomItem.type}}
                </md-input-container>
                <md-input-container>
                    {{roomItem.description}}
                </md-input-container>
                <md-input-container>
                    {{roomItem.capacity}}
                </md-input-container>
                <md-input-container>
                    <md-button class="material-icons" ng-click="hotelDetailsCtrl.addReservation(roomItem)">add</md-button>
                </md-input-container>
            </div>

            <h1>Reviews:</h1>
            <div ng-repeat="revItem in hotelDetailsCtrl.reviews">
                <div>
                    {{revItem.description}}
                    <md-input-container>
                        <md-button class="material-icons" ng-click="hotelDetailsCtrl.deleteReview(revItem)">delete</md-button>
                    </md-input-container>
                </div>
            </div>
        </md-card-footer>
    </md-card>
</md-content>