<md-content class="md-padding">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Create new hotel</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="createHotelForm" ng-submit="hotelCreate.createHotel()">
                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" name="name" ng-model="hotelCreate.hotel.name" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Location</label>
                        <input type="text" name="location" ng-model="hotelCreate.hotel.location" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Stars</label>
                        <md-select id="luxuryLevel" ng-model="hotelCreate.hotel.luxuryLevel">
                            <md-option ng-repeat="item in [1,2,3,4,5]" ng-value="item">
                                {{item}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Description</label>
                        <textarea type="text" rows="5" name="description" ng-model="hotelCreate.hotel.description" required></textarea>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row" layout-align="start center">
                    <span>Rooms</span>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">add_circle_outline</md-icon>
                    </md-button>
                </div>
                <div layout-gt-sm="row">
                    <md-button type="submit" class="md-raised md-primary">Create</md-button>
                    <md-button class="md-raised md-warn" ng-click="hotelCreate.cancelCreate()">Cancel</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>