<md-content class="md-padding">
    <h1 ng-if="!myReservationCtrl.myReservations.length" align="center">You don't have any reservations</h1>
    <md-card ng-repeat="reservItem in myReservationCtrl.myReservations">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{reservItem.hotelId.name}}</span>
                </h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <h2>{{reservItem.startDate | date : "y-MM-dd"}} - {{reservItem.endDate | date : "y-MM-dd"}}</h2>
            <md-button class="md-raised md-warn" ng-click="myReservationCtrl.deleteReservation(reservItem._id)">Delete</md-button>
        </md-card-content>
    </md-card>
</md-content>